.cache
.profile
.sommelierrc
.zcompdump*
.zprofile
.zsh_history
.bash_profile
.zshrc.*
!.*

.config/k9s/config.yml
.config/nvim/.github
.config/nvim/
.config/nvim/plugin/packer_compiled.lua
.config/yarn
credentials
.aws
.kube

